html.malikov-2 #stories_pagelet_rhc div div div div a img,
html.malikov-2 img.img:not(.scaledImageFitWidth) {
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

html.malikov-3, html.malikov-3 .homeWiderContent, html.malikov-3 body {
    animation: colorchange 2s infinite linear;
}

@keyframes colorchange {
    0%  {background-color: #FFC312;}
    10% {background-color: #FFC312;}
    11$ {background-color: #C4E538;}
    30% {background-color: #C4E538;}
    31% {background-color: #12CBC4;}
    50% {background-color: #12CBC4;}
    51% {background-color: #FDA7DF;}
    70% {background-color: #FDA7DF;}
    71% {background-color: #ED4C67;}
    90% {background-color: #ED4C67;}
    91% {background-color: #FFC312;}
    100% {background-color: #FFC312;}
}

.malikov-chair {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    z-index: 10000;
    background-image: url("https://s3.amazonaws.com/henadzit-public/malikov_small.gif");
}

html.malikov-2 .malikov-chair {
    display: block;
    animation: straightLine 10s infinite linear;
}

@keyframes straightLine {
    50% {
        transform: translate3D(1100px, 0, 0);
    }
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
}

html.malikov-4 #overlay {
    display: block;
}
