.profb-zuck-left {
  transform: rotate(90deg);
  animation: zuckHeadMoveFromLeft 30s infinite;
  position: fixed;
  left: -89px;
  top: 50%;
  width: 89px;
  height: 89px;
  z-index: 10000;
  background-image: url("https://s3.amazonaws.com/henadzit-public/mark-zuckerberg.png");
}

@keyframes zuckHeadMoveFromLeft {
  30%  { left: -89px; }
  34%  { left: 0; }
  36%  { left: -89px; }
}

.profb-zuck-bottom {
  animation: zuckHeadMoveFromBottom 30s infinite;
  position: fixed;
  left: 50%;
  bottom: -100px;
  width: 100px;
  height: 100px;
  z-index: 10000;
  background-image: url("https://s3.amazonaws.com/henadzit-public/mark-zuckerberg2.png");
}

@keyframes zuckHeadMoveFromBottom {
  80%  { bottom: -100px; }
  84%  { bottom: 0; }
  86%  { bottom: -100px; }
}
